@import url("reset.css");

body {
	background-color: #B700E9;
}

.container {
	width: 700px;
	margin: 0 auto;
}

.container .left {
	text-align: left;
	display: inline-block;
	background-color: #E94EC2;
}

.container .right {
	float: right;
	display: inline-block;
	text-align: right;
	background-color: #E9253B;
}

.main {
	margin-top: 20px;
	background-color: #E9A9E9;
}

@media (max-width: 480px) {
	.container {
		width: 400px;
	}
}